header {
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-attachment: scroll;
  background-position: top;
}
header h1 {
  font-size: 20px;
  font-weight: bold;
}

.container1 {
  background: red;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#lorem1 {
  font-size: 16px;
  white-space: pre;
  font-family: Arial, Helvetica, sans-serif;
}
#lorem2 {
  font-size: 16px;
  white-space: pre;
  font-family: Arial, Helvetica, sans-serif;
}
#lorem3 {
  font-size: 16px;
  white-space: pre;
  font-family: Arial, Helvetica, sans-serif;
}

.container2 {
  background: purple;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container3 {
  background: yellow;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
